.headItems
{
display: flex;
justify-content: space-around;


}



.bestDealsPh
{
  margin: 10px;
  padding: 20px;

justify-content: space-around;
  display: flex;

}

.bestDealsTitle
{
  padding-left:57px;
}


.sqCardsContainer  .sqCards{
  display: grid;
grid-template-columns :200px 200px 200px;
column-gap: 250px;
border: 1px solid lightgray;
border-radius: 10px;
padding: 3px;
margin: 3px;
row-gap: 1px;

}

